kubernetes_version: {{ kubernetes_version }}
nodes:

  {% for item in master_nodes %}
- address: {{ item.ip }}
    internal_address: {{ item.ip }}
    user: {{ user }}
    role: [controlplane,etcd]
  {% endfor %}

  {% for item in worker_nodes %}
- address: {{ item.ip }}
    internal_address: {{ item.ip }}
    user: {{ user }}
    role: [worker]
  {% endfor %}

cluster_name: {{ cluster_name }}
services:
  etcd:
    snapshot: true
    creation: 2h
    retention: 24h
    extra_args:
      enable-v2: "true"
    kubelet:
      fail_swap_on: false
      extra_args:
        max-pods: 250
        cloud-provider: "external"
ingress:
  provider: nginx
  options:
    use-forwarded-headers: "true"
